.navbar-logo {
  width: 50px;
  height: 50px;
  background-image: url('../assets/logo.png');
  background-size: cover;
  margin: 0;
}


.list-item {
  transition: transform 0.2s ease;
}

.list-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* General Bookings Section Styling */
.bookings-section {
  background-color: #f8f9fa;
}

.card {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.5;
}

.highlight {
  color: #ff5e57;
  font-weight: bold;
}

.ribbon {
  position: absolute;
  top: 10px;
  left: -10px;
  background-color: #ff5e57;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.9rem;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}

.image-gallery img {
  max-height: 250px;
  object-fit: cover;
}

.glow-on-hover {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5e57;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  transition: 0.4s;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff5e57, #ff4081, #ff5e57);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 400%;
  background-position: 0 0;
  z-index: -1;
  filter: blur(5px);
  transition: 0.4s;
}

.glow-on-hover:hover:before {
  background-position: 100% 100%;
}

.glow-on-hover:hover {
  transform: scale(1.1);
}
